<h2 class="title">Your recent transactions</h2>

<table>
  <thead>
    <tr>
      <th>TransactionId</th>
      <th>Date</th>
      <th>Type</th>
      <th>Amount</th>
      <th>Currency</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transaction of transactions">
      <td class="bold">{{transaction.transactionId}}</td>
      <td>{{transaction.date}}</td>
      <td>{{transaction.type}}</td>
      <td>{{transaction.amount}}</td>
      <td>{{transaction.currency}}</td>
      <td>{{transaction.status}}</td>
    </tr>
  </tbody>
</table>