<h2 class="title">Change your password</h2>
<list-errors [errors]="errors"></list-errors>

<p>Please enter your current and your new password below</p>

<form [formGroup]="formChangePassword" (ngSubmit)="changePassword(formChangePassword.value)">
  <span>Current password: </span>
  <input type="password" [formControl]="formChangePassword.controls['previousPassword']">
  <div *ngIf="!formChangePassword.controls['previousPassword'].valid">Previous password is required</div>

  <span>New password: </span>
  <input type="password" [formControl]="formChangePassword.controls['proposedPassword']">
  <div *ngIf="!formChangePassword.controls['proposedPassword'].valid">New password is required</div>
  <div class="actions">
<button type="submit" class="btn-main-3d"  [disabled]="!formChangePassword.valid">Change password</button>
  </div>
  
</form>