.widget {
    background: #292929;
    .widget-header {
        padding: 10px;
        i {
            line-height: normal;
            cursor: pointer;
        }
    }
    .title {
        color: $white;
        text-transform: uppercase;
        font-size: 1em;
    }
    .widget-body {
        padding: 0px 10px 10px 10px;
    }
}