
@import "assets/scss/main";

body, html {
	width: 100%;
    height: 100%;
    overflow-x: hidden;


}

body {
    //background: #ebbd05 url("assets/img/background.png");
    background: $bet-yellow;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    height: auto;
}

.open>.dropdown-menu {
    display: block;
}

.dropdown, .dropup {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    display: none;
    background-color: #fff;
    width: 300px;
}